<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bbs.dao.UserDao">
    <select id="listUser" resultType="User">
        select * from user
    </select>

    <select id="findByUsername" parameterType="String" resultType="User">--
<!-- 普通用户登录，不能是管理员 -->
        select * from user where userName = #{userName}
    </select>

    <select id="findByUserId" parameterType="int" resultType="User">
        select * from user where userId = #{userId}
    </select>

    <select id="findAllUser" resultType="User">
        select * from user where type !=2
    </select>

    <insert id="addUser" parameterType="String">
     insert into user(userName,password) values("${userName}","${password}")
    </insert>

    <select id="countNumUserType" resultType="int" parameterType="int">
        select count(*) from user where type = #{type}
    </select>
    <select id="findIdByUserName" resultType="int">
        select userId from user where userName="${userName}"
    </select>


    <delete id="deleteUserById" parameterType="int">
        delete from user where userId = #{userId}
    </delete>

    <update id="modifyUser" parameterType="User">
        update user set
        password = #{newUser.password},
        sex = #{newUser.sex},
        credit = #{newUser.credit},
        telephone = #{newUser.telephone},
        profilePhoto = #{newUser.profilePhoto},
        briefIntro = #{newUser.briefIntro},
        location = #{newUser.location},
        type = #{newUser.type},
        birthday = #{newUser.birthday}
        where userId = #{newUser.userId}
    </update>

    <update id="addCredit" >
        update `user` set credit=credit+#{postScore} where userId=#{userId}
    </update>
</mapper>


